* {
  margin: 0;
  padding: 0;

}
body {
  background-color:#f6be9a;
}
h1 {
  background-color: #004643;
  color: whitesmoke;
  height: 60px;
  text-align: center;
  line-height: 4rem;
}
.choice {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}
.choice:hover {
  cursor: pointer;
  background-color: #d1ac00;
  
}
img {
  height: 230px;
  width: 230px;
  object-fit: cover;
  border-radius: 50%;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2rem;
  margin-top: 25px;
  gap: 25px;
}
#user-score, #comp-score {
  font-size:4rem; 
}
#msg{
  background-color: #004643;
  color: whitesmoke;
  height: 5rem;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.msg-container{
  margin-top: 2rem;
  text-align: center;
}